$base-color: #23192d;
$bg-color: #f5ecb7;
body {
    color: $base-color;
    background-color: $bg-color;
    background-image: url('./images/422.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    color: blue;
}
